.player_nav {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 1;
}
.player_arrow {
  height: 68px;
}
.player_title {
  font-size: 56px;
}

.player_input {
  width: 175px;
  height: 41px;
  display: flex;
  cursor: pointer;
  padding: 23px 14px;
  background: #171717;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.player_input input {
  outline: 0;
  border: 0;
}
.search_icons {
  height: 28px;
}
.player_input input::placeholder {
  color: #fff;
}

/* ++++++++++++++++++++MOBILE+++++++++++++++++++++++++++++++++++ */

@media (max-width: 850px) {
  .player_arrow {
    height: 55px;
  }
  .player_title {
    font-size: 44px;
  }
  .player_input {
    width: 175px;
    height: 41px;

    padding: 18px 12px;
  }
}
@media (max-width: 630px) {
  .player_arrow {
    height: 40px;
  }
  .player_title {
    font-size: 35px;
  }
  .player_input {
    width: 175px;
    height: 41px;

    padding: 18px 12px;
  }
  .search_icons {
    height: 20px;
  }
}

@media (max-width: 480px) {
  .player_arrow {
    height: 38px;
  }
  .player_title {
    font-size: 25px;
  }
  .player_input {
    width: 110px;
    height: 28px;

    padding: 14px 10px;
  }
  .player_input input {
    font-size: 10px;
  }
  .search_icons {
    height: 15px;
    transform: translateX(-50px);
  }
}
@media (max-width: 390px) {
  .player_arrow {
    height: 38px;
  }
  .player_title {
    font-size: 22px;
  }
  .player_input {
    width: 80px;
    height: 28px;

    padding: 14px 10px;
  }
  .player_input input {
    font-size: 10px;
  }
  .search_icons {
    height: 15px;
    transform: translateX(-70px);
  }
}

/* .player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #8b5a5a;
}
.player img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  cursor: pointer;
}
.player iframe {
  border-radius: 10px;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
} */
